body {
margin: 5%;
margin-top: 35%;
background-color: #0E3D34;

}

div.head {
  margin-bottom: -2%;
  width: 100%;
  text-align: center;
  position:fixed;
  top: 5%;
}

img.avatar {
  display: block;
  position:relative;
  margin-left: auto;
  margin-right: auto;

}

p.headText {

  margin-left: auto;
  margin-right: auto;
  bottom: 0px;


}
div.stimulusArea {

  position: relative;
  width: 100%;

}

div.controls {

    position: fixed;
    bottom: 5%;
    width: 100%;

}

p {
  color: #ffffff;
  font-size: 30px;
  font-family: sans-serif;
  font-style: bold;

}

h5 {

  color: #ffffff;
  font-size: 15px;
  font-family: sans-serif;
  font-style: bold;
  text-decoration: none;

}

h5.buttonLabel {

  position: absolute;

  margin-top:15px;
  margin-left: 5%;

}

a {

  text-decoration: none;

}

img.avatar {

height:128px;
width: 128px;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;

}

canvas {

  position: block;
  -ms-transform: scale(0.4, 0.4); /* IE 9 */
  -webkit-transform: scale(0.4, 0.4); /* Safari */
  transform: scale(0.4, 0.4);

  padding-left: 0;
  padding-right: 0;

  margin-left: auto;
  margin-right: auto;


}


#timer {

  color: #ffffff;
  font-size: 20px;
  font-family: sans-serif;
  font-style: bold;
}

#nextButton {

  color: white;
  background-color: rgb(102,204, 102);
  width: 200px;
  height: 55px;
  border-radius: 5px;
  bottom: 15%;
  text-decoration: none;

  left: 50%;
  right: 50%;

  margin-top:10px;
  margin-left:-15px;

}
#answerButton {
  color: white;
  background-color: rgb(102, 204, 102);
  width: 55px;
  height: 55px;
  border-radius:30px;
  position: absolute;
  left: 20%;
  bottom: 10%;
}

#declineButton {
  color: white;
  background-color: rgb(232, 78, 79);
  width: 55px;
  height: 55px;
  border-radius:30px;
  position: absolute;
  right: 20%;
  bottom: 10%;
}

#endCallButton {
  color: white;
  background-color: rgb(232, 78, 79);
  width: 55px;
  height: 55px;
  border-radius:30px;
  bottom: 10%;
  left: 50%;
  right: 50%;
}

img.phone {

  height: 30px;
  width: 30px;
  position: absolute;
  left: 50%;
  right: 50%;

  margin-top:10px;
  margin-left:-15px;

}
