body {
margin-top: 5%;

background-color: #0E3D34;

}

div.head {
  margin-bottom: -2%;
  width: 100%;
  text-align: center;

  top: 5%;

}

img.avatar {
  display: block;
  position:relative;
  margin-left: auto;
  margin-right: auto;

}

p.headText {

  bottom: 0px;


}
div.stimulusArea {

  position: relative;
  width: 100%;

}

div.controls {

    position: fixed;
    bottom: 5%;
    width: 100%;

}

p {
  color: #ffffff;
  font-size: 30px;
  font-family: sans-serif;
  font-style: bold;

}

h5 {

  color: #ffffff;
  font-size: 30px;
  font-family: sans-serif;
  font-style: bold;
  text-decoration: none;
  text-align: center;

}

h5.testCount {

  font-size: 20px;

}

h5.intro {

  text-align: justify;
  text-justify: inter-word;
  padding-left: 10%;
  padding-right: 10%;

}
h5.buttonLabel {
  position: relative;
  padding-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

ul.basic {

  padding-left: 30%;
  list-style: none;
  line-height: 30px;

}
li.text {

  padding-left: 20%;

}


a {

  text-decoration: none;

}

img.avatar {

height:128px;
width: 128px;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;

}

canvas {

  padding-top: 1%;
  width: 250px;
  height: 250px;
  padding-left: 0;
  padding-right: 0;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
margin: auto;



}

div.intro {

  padding-left:auto;
  padding-right: auto;

}
#timer {

  color: #ffffff;
  font-size: 20px;
  font-family: sans-serif;
  font-style: bold;
}

#nextButton {

  color: white;
  background-color: rgb(102,204, 102);
  width: 30%;
  margin: 10px;
  height: 55px;
  border-radius: 5px;
  bottom: 15%;
  text-decoration: none;
  left: 10%;


  margin-top:10px;
    margin-left:auto;
    margin-right: auto;

}
#nextButton:hover {

  background-color: rgb(102, 150,102);
}

#nextButton:active {

  background-color: rgb(40, 120, 102);
}
#answerButton {
  color: white;
  background-color: rgb(102, 204, 102);
  width: 55px;
  height: 55px;
  border-radius:30px;
  position: absolute;
  left: 15%;
  bottom: 10%;
}

#declineButton {
  color: white;
  background-color: rgb(232, 78, 79);
  width: 55px;
  height: 55px;
  border-radius:30px;
  position: absolute;
  right: 20%;
  bottom: 10%;
}

#endCallButton {
  color: white;
  background-color: rgb(232, 78, 79);
  width: 55px;
  height: 55px;
  border-radius:30px;
  bottom: 10%;
  left: 50%;
  right: 50%;

  margin-left: auto;
  margin-right: auto;
}


img.phone {

  height: 30px;
  width: 30px;
  position: absolute;
  left: 50%;
  right: 50%;

  margin-top:10px;
  margin-left:-15px;

}

p.mosLab {

  font-size: 10px;
  width:10%;
  margin:0px;
  padding: 50px;
  display: inline;
}
.labels {

  width: 70%;

}

.nextTest {

  color: white;
  background-color: rgb(102,204, 102);
  width: 30%;
  margin: 10px;
  height: 55px;
  border-radius: 5px;
  bottom: 15%;
  text-decoration: none;
  left: 10%;


  margin-top:10px;
    margin-left:auto;
    margin-right: auto;

}
.nextTest:hover {

  background-color: rgb(102, 150,102);
}

.nextTest:active {

  background-color: rgb(40, 120, 102);
}
